altgraph==0.17.4
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
idna==3.10
iniconfig==2.0.0
intbitset==4.0.0
packaging==24.1
pluggy==1.5.0
pycparser==2.22
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
pytest==8.3.3
python-dotenv==1.0.1
requests==2.32.3
setuptools==75.3.0
titlecase==2.4.1
urllib3==2.2.3
